@import '../../../assets/scss/variables';

.posts-module{
    padding-top: $spacer-4;
    padding-bottom: $spacer-4;
    color: $color-darkblue;

    .table-heading{
        font-size: $font-xxl;
        padding: $spacer-3;
        text-align: center;
        font-weight: 700;
    }

    .thead{
        background-color: $color-contrasting;
        color: $color-darkblue;
        font-size: $font-md;
    }
}