<section class="posts-module">
    <div class="container">
        <p class="table-heading">Posts List</p>
        <table class="table table-hover">
            <thead>
                <tr class="thead">
                    <th scope="col">Id</th>
                    <th scope="col">Userid</th>
                    <th scope="col">Post Title</th>
                    <th scope="col">Post Content</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let post of postsList">
                    <td class="text-center">{{post.id}}</td>
                    <td class="text-center">{{post.userId}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.body}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</section>